/* ELEMENTOS DO SLIDER */
.slick-slide {
  text-align: center;
}

.slick-slide > div > div {
  width: 99% !important;
  height: 18%;
  border-radius: 35px;
  overflow: hidden;
  border: 2px solid #034074;
}

.slick-slide img {
  object-fit: cover;
}

@media (max-width: 576px) {
  .slick-slide > div > div {
    width: 90% !important;
    height: 200px;
  }

  .slick-prev, .slick-next {
    display: none !important;
  }
}
